* {
    background-color: black;
}

h1 {
    color: white;
    text-transform: capitalize;
}

p {
    color: white;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    font-family: "Libre Baskerville",serif;
    color: white;
}

.motivational-img {
    border: 5px solid white;
}